<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
  
<body>

	<div class="content">

			<header>
				<img src="http://i.imgur.com/BMWUyqN.png">
			</header> 

			<%= yield %>
			
			<footer>
				
			</footer>

	</div>

</body>
</html>